.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field input,.input-field select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
}

.input-field label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}