<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azerothcore Account Creator</title>
</head>
<body>
    <h1>Account Creation</h1>
    <form>
        <label for="accountName">Account Name:</label><br>
        <input type="text" id="accountName" maxlength="20"><br>
        <label for="email">Email Address:</label><br>
        <input type="email" id="email"><br>
        <label for="passwd1">Password:</label><br>
        <input type="password" id="passwd1"><br>
        <label for="passwd2">Re-enter Password:</label><br>
        <input type="password" id="passwd2"><br><br>
        <select name="expansion" id="exp">
            <option value="2">Wrath of the Lich King</option>
            <option value="1">The Burning Crusade</option>
            <option value="0">World of Warcraft (Classic)</option>
        </select>
    </form>
    
</body>
</html>